[;; --- TWEET ---

 {:db/id #db/id[:db.part/db]
  :db/ident :publish/at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/doc "An tweets's publication time"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :tweet/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/doc "A tweet's text"
 :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/user
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A tweet's user"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A tweet's id"
  :db.install/_attribute :db.part/db}
 ]
