{:port 8091
 :build :dev
 :version 0.01
 :date "not now"
 :logging? false
 :logfile ""
 :init? false
 :cold-start true
 :schema "schema.edn"
 :http-server? true
 :app
 {:credentials
  {:consumer-key "Na1GxlM5xzTSTHzGFhEJG3llI"
   :consumer-secret "51WEwlCeUSiYoxwHpARxyZCqZ2Mj6SHEWPpg9gvIckGcr8XSF9"
   :access-token "2552274109-VHDTuavTotGkQChK3phn0WHvyBYsNlpIJrqqeGJ"
   :access-token-secret "V0RvuER3tDHV0FzwuWfcKbsJOEXmA2KYSWA142YPXw41s"}
  :follow []
  :track ["bitcoin"]}}
